.breadcrumbs {
  padding: 20px 0;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0
  }
}

.breadcrumbs__link {
  font-size: 13px;
  text-decoration: underline;
  color: #a7a7a7;
}

.breadcrumbs__item--active {
  .breadcrumbs__link {
    color: black;
  }
}