.button.button--gray {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 15px;
  svg {
    position: absolute;
    fill:  #444444;
    width: 13px;
    left: 0;
  }
}