.delivery {
  padding: 25px 0;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 20px;
}

.delivery__info {
  border-spacing: 10px;
}

.delivery__title {
  font-size: 16px;
  color: black;
}

.delivery__col {
  font-size: 14px;
}

.delivery__col--gray {
  display: flex;
  color: #ACACAC;
}

.delivery__col-dotted {
  flex: 1;
  border-bottom: 1px dotted #ACACAC;
}