.help-me {
  border-top: 1px solid #C4C4C4;
  padding: 25px 0;
  font-size: 14px;
  line-height: 16px;
  color: #797979;
}

.help-me__container {
  align-items: center;
}

.help-me__content {
  max-width: 230px;
  text-align: center;
}

.help-me__link {
  color: black;
}