.products {
  flex: 1;
  max-width: 893px;
}

.products__container {
  width: 100%;
}

.products .section-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.products__controls {
  margin-bottom: 20px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .products__item {
    margin-bottom: 70px;
  }
}
