.product {
  max-width: 281px;
}

.product__image {
  width: 100%;
  max-height: 355px;
  background-color: #f2f2f2;
  padding: 65px 35px 75px;
  margin-bottom: 25px;
}

.product__title {
  font-size: 15px;
  line-height: 18px;
  color: #4e4e4e;
  margin-bottom: 25px;
}

.product__price {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 25px;
}

.product__button {
  background-color: transparent;
  padding: 10px 40px;
  border: 1px solid #C6C6C6;
}