.promo {
  margin-bottom: 67px;
}

.promo__container {
  flex-direction: row;
}

.promo-banner {
  position: relative;
  flex: 1;
  margin-right: 39px;
  min-height: 100%;
}

.promo-banner__image {
  position: absolute;
  min-height: 100%;
}

.promo-banner__image-pic {
  height: 100%;
}
