.site-links {
  display: flex;
}

.site-links:after{
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 4px;
  left: 100%;
  transform: rotate(-45deg);
  align-self: center;
  margin-left: 10px;
}

.site-links__list {
  display: flex;
  flex-direction: column;
}

.site-links__link {
  text-decoration: none;
}

.site-links {
  margin-right: 25px;
}