.socials__title {
  font-size: 19px;
  color: white;
  margin-bottom: 17px;
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socials__image-icon {
  width: 28px;
  height: 28px;
  fill: #757575;
}