.sort-price {
  display: flex;
  background-color: transparent;
  text-decoration: underline;
  font-size: 13px;
  color: #000000;
}

.sort-price:after {
  content: "";
  width: 5px;
  height: 5px;
  border: 2px solid #7e7e7e;
  transform: rotate(45deg);
  border-radius: 20%;
  border-top-color: transparent;
  border-left-color: transparent;
  margin-left: 20px;
}
