include ../mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Eshop
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
  body
    .wrapper
      include ../sections/header.pug
      +appHeader('header--black')

      //- MAIN 
      main.main
        include ../snippets/breadcrumbs
        +breadcrumbs(['Каталог','Изделия из кожи','Кожаные сумки'],2)
        include ../sections/banner
        include ../sections/main-list
        include ../sections/features
        include ../sections/help-me

      //- FOOTER
      include ../sections/footer.pug