.pay-systems.footer__pay-systems
  ul.pay-systems__list
    - 
      var paySystems = [
        {
          title: '',
          link: '#',
          desc: 'Платёжная система МИР',
          iconSrc: 'mir'
        },
        {
          title: '',
          link: '#',
          desc: 'Платёжная система Visa',
          iconSrc: 'visa'
        },
        {
          title: '',
          link: '#',
          desc: 'Платёжная система Mastercard',
          iconSrc: 'mastercard'
        },
      ]
    each paySystem in paySystems
      li.pay-systems__item
        a(href=`${paySystem.link}` target="_blank" title=`${paySystem.desc}`)
          .pay-systems__icon
            +icon(`${paySystem.iconSrc}`, 'pay-systems__icon-pic')