mixin products-slider(sectionSrc,items)
  .products-slider
    button(type="button").slider__button.slider__button--left
    ul.products-slider__list
      each item in items
        li.products-slider__item
          .product
            .product__image
              +image(`content/${sectionSrc}/${item.imgSrc}.png`,'product__image-pic')
            .product__title=item.title
            .product__price
              span.product__price=item.price+' '
              span.product__price-currency р.
            button(type="product").product__button Купить
    button(type="button").slider__button.slider__button--right