.socials.footer__socials
  ul.socials__list
    - 
      var socials = [
        {
          title: 'Мы в Twitter',
          link: '#',
          iconSrc: ''
        },
        {
          title: 'Мы в Linkedin',
          link: '#',
          iconSrc: ''
        },
        {
          title: 'Мы на Youtube',
          link: '#',
          iconSrc: ''
        },
        {
          title: 'Мы на Facebook',
          link: '#',
          iconSrc: ''
        }
      ]
    each social in socials
      li.socials__item
        a(href=social.link target="_blank" title=social.title)
          .socials__image
            svg.socials__image-pic