.subscribe.footer__subscribe
  h4.subscribe__title Подписаться на рассылку
  .subscribe__field
    input(type="email" placeholder="Введите ваш e-mail").subscribe__input
  .subscribe__desc Нажимая кнопку «Подписаться», вы даете согласие на обработку своих 
    a(href="#" target="_blank" title="Ознакомьтесь с нашей политикой по хранению, обработке и защите персональных данных").subscribe__link персональных данных
    |  и 
    a(href="#" target="_blank" title="Ознакомьтесь с условиями подписки на наши новости").subscribe__link получение информационных сообщений.