nav.footer-nav.footer__footer-nav
  ul.footer-nav__list
    - 
      var bottomNavList = [
        {
          title: 'Категории',
          list: [
            {
              title: 'Подарки',
              link: '#',
            },
            {
              title: 'Пишущие инструменты',
              link: '#',
            },
            {
              title: 'Изделия из кожи',
              link: '#'
            },
            {
              title: 'Smart-устройства',
              link: '#'
            },
            {
              title: 'Часы',
              link: '#'
            },
            {
              title: 'Аксессуары',
              link: '#'
            },
            {
              title: 'Бумага и чернила',
              link: '#'
            },
          ]
        },
        {
          title: 'Покупателям',
          list: [
            {
              title: 'Самовывоз',
              link: '#'
            },
            {
              title: 'Оплата',
              link: '#'
            },
            {
              title: 'Обмен и возврат',
              link: '#'
            },
            {
              title: 'Гарантия',
              link: '#'
            }
          ]
        },
        {
          title: 'Информация',
          list: [
            {
              title: 'О магазине',
              link: '#'
            },
            {
              title: 'Правовая информация',
              link: '#'
            },
            {
              title: 'Контакты',
              link: '#'
            },
            {
              title: 'Гарантия',
              link: '#'
            }
          ]
        },
      ]
    each bottomNavItem in bottomNavList
      li.footer-nav__item.footer-subnav
        .footer-subnav__title=bottomNavItem.title
        ul.footer-subnav__list
          each item in bottomNavItem.list
            li.footer-subnav__item
              a(href=item.link target="_blank").footer-subnav__link=item.title
        if bottomNavItem.title === 'Информация'
          include ../snippets/contacts.pug