section.features
  .container
    h3.features__title Преимущества официального магазина Montblanc
    ul.features__list
      -
        var features = [
          {
            title: 'Бесплатная доставка',
            desc: 'Cras rhoncus risus et odio facilisis, vel varius velit ultrices. Morbi quis dolor turpis.'
          },
          {
            title: 'Официальные поставки',
            desc: 'Cras rhoncus risus et odio facilisis, vel varius velit ultrices. Morbi quis dolor turpis.'
          },
          {
            title: 'Возврат без проблем',
            desc: 'Cras rhoncus risus et odio facilisis, vel varius velit ultrices. Morbi quis dolor turpis.'
          }
        ];
      each feature in features
        li.features__item
          .features__name=feature.title
          .features__desc=feature.desc