footer.footer
  .footer__top
    include bottom-nav.pug
    include ../snippets/subscribe.pug
    include ../snippets/socials.pug    
  .footer__bottom
    include ../snippets/footer-links.pug
    include ../snippets/pay-systems.pug
    