footer.footer
  .container
    .footer__top
      .footer__column
        include bottom-nav.pug
      .footer__column.footer__column--vertical
        include ../snippets/subscribe.pug
        include ../snippets/socials.pug
    .footer__bottom
      include ../snippets/copyright.pug
      include ../snippets/pay-systems.pug
