mixin appHeader(className, items)
  header.header(class=`${className}`)
    .container.header__container
      .header__top
        include ../snippets/cities.pug
        h1.header__title Официальный интернет-магазин 
          span.visually-hidden Montblanc
        .header__links
          include ../snippets/site-links.pug
          include ../snippets/user-menu.pug      
      .header__bottom
        include ../snippets/burger-menu.pug
        include ../snippets/site-search.pug
        include ../snippets/logo.pug
        .header__controls
          include ../snippets/favorite.pug
          include ../snippets/basket.pug