section.offers.section
  .container
    include ../snippets/categories.pug
    include ../snippets/features.pug
    .new-products
      h2.section-title Новинки интернет-магазина
      include ../snippets/products-slider.pug