mixin product-nav(items,activeItem)
  .product-nav
    .container
      ul.product-nav__list
        each item,index in items
          li(class="product-nav__item" + ((index === activeItem)? ' product-nav__item--active' : ''))
            a.product-nav__link=item
      .product-nav__info
        <p>Новая коллекция 4810 Westside является воплощением лаконичного дизайна и функциональности. Изделие изготовлено из кожи теленка и дополнено легендарным принтом Montblanc и полированными деталями отделки с рутениевым напылением. Внутри модели находится функциональное отделение для документов формата DIN/A4, отделение для ноутбука и других электронных устройств. Переднее отделение на молнии прекрасно подойдет для быстрого доступа к проездным билетам, документам и ключам. Сумку дополняют удобные кожаные ручки, регулируемый съемный плечевой ремень синего цвета с маркировкой и система крепления к чемодану для нескольких вариантов ношения</p>