.promo
  .container.promo__container
    .promo__banner.promo-banner
      .promo-banner__image
        +image('content/promo/promo-banner.png', 'promo-banner__image-pic')
      h2.promo-banner__title В гармонии с пространством и временем
      .promo-banner__desc
        p Деловые поездки без границ
      a(href="" target="_blank") Подробнее
    .promo__product
      .product
        .product__image
          +image('content/promo/promo-product.png', 'product__image-pic')
          //- +image('').product__image-pic
        .product__title Набор Meisterstück Le Petit Prince Happy Holiday
        .product__price
          span.product__price-integer 14
          span.product__price-decimal ,900
          span.product__price-currency р.
      button(type="product").product__button Купить