include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Eshop
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
  body
    .wrapper

      //- HEADER
      include ./sections/header.pug

      //- MAIN
      main.main
        include ./sections/hero.pug
        include ./sections/offers.pug
        include ./sections/special-offers.pug
        include ./sections/promo.pug
        include ./sections/popular-offers.pug
        include ./sections/help-me.pug
      
      //- FOOTER
      include ./sections/footer.pug

      